nav, header{
    background-color: rgb(9, 83, 67);;
    color: white;                
  
}

footer{
    background-color:  rgb(28, 180, 173);
    color: black;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

main{
    width: 100vw;
    margin: 0 auto;
    padding: 30px 20px;
    position: absolute;
    /*min-height: calc(100vh - 248px - 38px); make usable on other brower*/
}

button{
    background-color: rgb(9, 83, 67);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;    
}

header{
    text-align: center;
    padding: 20px;
   
    
}

nav{
    font-family: verdana, sans-serif;
    background-color: rgb(9, 83, 67);
    color: white;
    font-size: 18px;
    font-weight: 520;
  
}
a{
    float: right; /* the float moves the first box than the second etc so the order is reversed*/
    /*display: block;*/
    margin: 20px 8px;
    padding: 5px;
    color:white;
    font-family: verdana, sans-serif;
    text-decoration: none;
    font-weight: 500;
    border-radius: 25px;
   
   
}
body{
    font-family: verdana, sans-serif;
    background-color: white;
    position: relative;
    padding-bottom: 40px;
    min-height: 100vh;
}
a:hover{
    box-shadow: 0 12px 16px 0 rgb(28, 180, 173), 0 17px 50px 0 rgb(28, 180, 173);
    font-size: 120%;
}
a:visited{
    box-shadow: 0 12px 16px 0 rgb(28, 180, 173), 0 17px 50px 0 rgb(28, 180, 173);
}
a:link{
   background-color:  rgb(9, 83, 67);
}
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}